In [8]:
import pandas as pd
import os 
os.makedirs("../staging",exist_ok=True)

In [10]:
# đọc dữ liệu gốc
df = pd.read_csv("data/sales_data.csv")

In [11]:
print(df.head())

   Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0        1052  2023-02-03       Bob  North       5053.97             18
1        1093  2023-04-21       Bob   West       4384.02             17
2        1015  2023-09-21     David  South       4631.23             30
3        1072  2023-08-24       Bob  South       2167.94             39
4        1061  2023-03-24   Charlie   East       3750.20             13

  Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0        Furniture     152.75      267.22     Returning      0.09
1        Furniture    3816.39     4209.44     Returning      0.11
2             Food     261.56      371.40     Returning      0.20
3         Clothing    4330.03     4467.75           New      0.02
4      Electronics     637.37      692.71           New      0.08

  Payment_Method Sales_Channel Region_and_Sales_Rep
0           Cash        Online            North-Bob
1           Cash        Retail             West-Bob
2  Bank Transfer        Retail          South-David
3    Credit Card        Retail            South-Bob
4    Credit Card        Online         East-Charlie

In [12]:
#xóa các dòng trống hoàn toàn
df.dropna(how='all',inplace = True)

In [13]:
# chuẩn hóa tên cột
df.columns=[col.strip().replace(" ", "_") for col in df.columns]

In [14]:
# định dạng cột ngày
if 'Sale_Date' in df.columns:
    df['Sale_Date']= pd.to_datetime(df['Sale_Date'],errors ='coerce')

In [15]:
# loại bỏ các dòng có ngày không hợp lệ
df = df[df['Sale_Date'].notnull()]

In [16]:
# bổ sung xử lý nếu thiếu dữ liệu
df.fillna({
    'Discount':0,
    'Customer_Type':'Unknown',
    'Payment_Method':'Unknown'
},inplace=True)

In [17]:
print(df.head())

   Product_ID  Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0        1052 2023-02-03       Bob  North       5053.97             18
1        1093 2023-04-21       Bob   West       4384.02             17
2        1015 2023-09-21     David  South       4631.23             30
3        1072 2023-08-24       Bob  South       2167.94             39
4        1061 2023-03-24   Charlie   East       3750.20             13

  Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0        Furniture     152.75      267.22     Returning      0.09
1        Furniture    3816.39     4209.44     Returning      0.11
2             Food     261.56      371.40     Returning      0.20
3         Clothing    4330.03     4467.75           New      0.02
4      Electronics     637.37      692.71           New      0.08

  Payment_Method Sales_Channel Region_and_Sales_Rep
0           Cash        Online            North-Bob
1           Cash        Retail             West-Bob
2  Bank Transfer        Retail          South-David
3    Credit Card        Retail            South-Bob
4    Credit Card        Online         East-Charlie

In [25]:
# ghi dữ liệu sau khi lọc sạch vào staging
df.to_csv("staging/stg_sales_cleaned.csv", index=False)